<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tubb.smrv.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="UMENG_CHANNEL" android:value="00"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".normal.NormalMainActivity"/>
        <activity android:name=".normal.SimpleActivity"/>
        <activity android:name=".normal.SimpleVerticalActivity"/>
        <activity android:name=".rv.RvMainActivity"/>
        <activity android:name=".rv.SimpleRvActivity"/>
        <activity android:name=".rv.DifferentRvActivity"/>
        <activity android:name=".rv.GridRvActivity"/>
        <activity android:name=".rv.StaggeredGridRvActivity"/>
        <activity android:name=".lv.SimpleLvActivity"/>
        <activity android:name=".lv.SimpleGvActivity"/>
        <activity android:name=".sv.ScrollViewActivity"/>
    </application>
</manifest>
